.charts{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 40px;
    padding: 0 7%;
    
}
.stats{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 5%;
padding-block: 20px;

}

.dashboard h2{
text-align: center;
margin-top: 50px;
}

.card_grid{
    display: flex;
  
}

.title{
    text-align: center;
    margin-top: 40px;
}
.containers{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    padding: 0 5%;
}
.containers .chartx {
    height: 300px;
    width: 100%;
    border: 2px dashed #002952;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 40px;
    padding-bottom: 40px;
}

canvas {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


@media only screen and (max-width: 1110px) {
.containers{
    display: grid;
    grid-template-columns: 1fr;
}
.chartx{
    width: 100%;
}
.chartx canvas{
    width: 100%;
    height: 300px;
}

}