.register_all{
    padding: 0 20%;
    margin-block: 50px;
}
.register_title {
    text-align: center;
}
.register_title p{
    margin-top: 20px;
}
.forms_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.forms{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.forms input{
    height: 44px;
    width: 100%;
    padding-left: 2%;
    border-radius: 5px;
    border: 1.5px solid #ddd;
}

.forms input:focus{
    outline: none;
}

.forms select{
    height: 44px;
    width: 100%;
    padding-left: 2%;
    border-radius: 5px;
    border: 1.5px solid #ddd;
}


.forms select:focus{
    outline: none;
}

.forms button{
    height: 44px;
    width: 100%;
    background-color: #002952;
    border: none;
    border-radius: 5px;
    color: #fff;
}


.forms_submit{
    margin-top: 50px;
}

.show_password{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.error{
    margin-top: 20px;
    background-color: rgba(250, 128, 114, 0.568);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    padding-block: 10px;
    border-radius: 5px;
}

.error {
    color: red;
    margin-bottom: 10px;
}
.close-btn {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.success_message{
    margin-top: 20px;
    background-color: rgba(136, 189, 58, 0.514);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    padding-block: 10px;
    border-radius: 5px;
    color: green;
    margin-bottom: 10px;
}

.close-btns{
    cursor: pointer;
    color: green;
    font-weight: bold;
}

.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title h2{
    color: #002952;
}

.headings{
    margin-top: 30px;
}

.headings h2{
    color: #002952;
}

.form{
    display: flex;
    gap: 20px;
    margin-top: 20px;
} 
.dvla_logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #002952;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.actions{
    display: flex;
    justify-content: space-between;
}

.actions a{
    color: #002952;
}

.view_all{

    width: 100%;
    padding: 0 5%;
    margin-block: 50px;
}

.actions button{
    background-color: transparent;
    border: none;
    height: 110px;
}

.profile_table{
    height: 100px;
    width: 100px;
object-fit: contain;
}
.modal-content{
    z-index: 49272;
    position: relative;
}
.modal-body p{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.close{
    position: absolute;
right: 0;
top: 0;
}

.modal-footer{
    text-align: center;
    padding-top: 20px;
}
hr{
    margin-top: 20px;
}

