/* Add your styling here */
.view_all_vehicles {
  padding: 0 7%;
  margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #002952;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.actions{
    display: flex;
    justify-content: space-between;
}

.actions a{
    color: #002952;
}

.view_all{
    padding: 0 5%;
    margin-top: 50px;
}

.forms input{
    height: 44px;
    width: 100%;
    padding-left: 2%;
    border-radius: 5px;
    border: 1.5px solid #ddd;
}

.forms input:focus{
    outline: none;
}